<div>
  <h1 class="">S'inscrire sur Bio Bloom Market</h1>
<% if @user.errors.any? %>
  <div style="color: red;">
    <h2>Erreurs :</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "form", user: @user %>
</div>
