<h1 class="font-bold text-4xl text-center ">Bio Bloom Market</h1>
<div class="flex justify-around w-[60%] rounded-md h-[30rem] p-20 m-auto bg-primary mt-5">
<h2 class="text-secondary font-bold text-3xl text-center self-center w-[40%]">Notre engagement pour planète verte et florissante</h2>
<%= link_to "Explorez la boutique", products_path %>
<span class="rounded-md">
<%= image_tag "banner-1.jpg", class: "w-[30rem] self-center text-center", alt:"Bannière de Bio Bloom Market", title: "Bannière de Bio Bloom Market rounded-md " %>
</span>
</div>